name: Build & Deploy to GH Pages

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 0" # every sunday at midnight
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: '17'
    
      - run: npm install @gouvfr/dsfr
      - run: echo "<h1><a href='example'>Documentation</a></h1>" > ./node_modules/@gouvfr/dsfr/index.html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./node_modules/@gouvfr/dsfr/
          github_token: ${{ secrets.GITHUB_TOKEN }}
